@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/roboto-bold.woff2') format('woff2');
  }

:root {
    --tomato:hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --font-regular: 400;
    --font-bold: 700;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
main {
    min-height: 100vh;
    min-height: 100svh;
    background-color: white;
}
.illust {
    max-width: 100%;
    width: 100%;
    height: auto;
}
.sign-up {
    margin-top: 2rem;
    margin-inline: 1.5rem;
}
.header-sign-up {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}
.paragraph-sign-up {
    margin-bottom: 1.5rem;
    line-height: 24px;
}
.features span {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 0 .625rem 0;
    line-height: 24px;
}
.features img {
    padding-top: .125rem;
}
label {
    display: flex;
    justify-content: space-between;
    margin-block: 2.6875rem .625rem;
    font-size: .75rem;
    font-weight: 700;
}
.email-msg {
    display: none;
    color: var(--tomato);
}
input {
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    width: 100%;
    height: 3.5rem;
    border-radius: .5rem;
    border: 1px solid var(--grey);
    outline: none;
    cursor: pointer;
}
::placeholder {
    font-size: 1rem;
}
#submit {
    position: relative;
    width: 100%;
    height: 3.5rem;
    background: var(--dark-slate-grey);
    color: var(--white);
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
    z-index: 1;
}
#submit::before {
    content: '';
    position: absolute;
    border-radius: .5rem;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #fd5376, #ff6257);
    opacity: 0;
    transition: opacity .3s linear;
    z-index: -1;
}
#submit:hover::before {
    opacity: 1;
}
.error .email-msg {
    display: block;
}
.error #email {
    border: 1px solid var(--tomato);
    background: rgba(255, 98, 87, .1);
}
.success-msg {
    display: none;
    min-height: 100vh;
    min-height: 100svh;
    flex-direction: column;
    margin: 9.3125rem 1.5rem 0 1.5rem;
}
.success-msg img {
    width: 4rem;
    margin-bottom: 2.5rem;
}
.success-msg h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}
.success-msg p {
    line-height: 1.5;
}
#reset {
    width: 100%;
    height: 3.5rem;
    margin-block: 16.5rem 2.4375rem;
    background: var(--dark-slate-grey);
    color: var(--white);
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
}
.success {
    display: none;
}
.attribution {
    font-size: 11px; text-align: center; 
    margin-block: .5rem;
    color: hsl(228, 45%, 90%);
}
.attribution a {
    color: hsl(228, 45%, 80%);
}

@media screen and (min-width: 46.875em) {
    html {
        display: grid;
        place-items: center;
        min-height: 100vh;
    }
    body {
        background-color: var(--charcoal-grey);
    }
    main {
        margin: 0 auto;
        padding-block: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 58.125rem;
        max-height: 43.75rem;
        min-height: 100%;
        border-radius: 2.25rem;
    }
    picture {
        padding-right: 1.5rem;
        max-width: 100%;
        width: 52%;
        height: auto;
    }
    section {
        order: -1;
    }
    .sign-up {
        margin-top: 0;
        padding-inline: 2.5rem 2.1875rem;
    }
    .header-sign-up {
        font-size: 3.5rem;
    }
    .success-msg {
        display: none;
        margin: 0 auto;
        background: white;
        padding: 3.0625rem 3.96875rem 3.96875rem 3.96875rem;
        max-width: 31.5625rem;
        max-height: 32.5rem;
        min-height: 30vh;
        border-radius: 2.25rem;
    }
    .success-msg img {
        width: 4rem;
        margin-bottom: 2.5rem;
    }
    .desk-vers {
        background: var(--charcoal-grey);
    }
    .success-msg h1 {
        font-size: 3.5rem;
        line-height: 1;
    }
    #reset {
        margin-block: 2.5rem 0;
    } 
}