@import url('https://api.fonts.coollabs.io/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --tomato:hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --font-regular: 400;
    --font-bold: 700;
}
html {
    font-family: 'Roboto', sans-serif;
}


.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
