@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-regular.woff2') format('woff2');
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/roboto-bold.woff2') format('woff2');
  }

:root {
    --tomato:hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --font-regular: 400;
    --font-bold: 700;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
main {
    min-height: 100vh;
    min-height: 100svh;
}
.mobile-illust {
 width: 100%;  
}
.sign-up {
    margin-top: 2rem;
    margin-left: 1.5rem;
}
.header-sign-up {
    margin-bottom: 1.2rem;
    font-size: 2.5rem;
}
.paragraph-sign-up {
    margin-bottom: 1.5rem;
    line-height: 24px;
}
.features span {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 3.4rem .625rem 0;
    line-height: 24px;
}
.features img {
    padding-top: .125rem;
}

label {
    display: inline-block;
    margin-block: 1.6875rem .75rem;
    font-size: .75rem;
    font-weight: 700;
}
input {
    margin-bottom: 1.5rem;
}

.success-msg {
    display: none;
}
.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
